node_modules
.next
out
dist
build
.env*.local
.vercel
.turbo
coverage
*.log
.DS_Store
.idea
.vscode
*.tsbuildinfo
next-env.d.ts
playwright-report
test-results
*.md
/md
/docs
playwright-test/test-results
playwright-test/reports